$white: #ffffff;
$background: #FFFBF1;
$background_opacity: rgba(255, 251, 241, 0.7);
$secondary: #E9C18D;
$opacity: rgba(233, 193, 141, 0.2);
$text_dark: #5F696E;
$text_light: #CCD8E5;
$text_light_opacity: rgba(204, 216, 229, 0.6);
$hover: #4c555a;