@import '../style/variables.scss';

.header__container {
  width: 100%;
  height: 100%;
}

.slider {
  display: flex;
  flex-direction: row;
  justify-content: center;

  &__image {
    width: 100%;
    height: 100vh;
    object-fit: cover;
    object-position: center;

    &-hidden {
      display: none;
    }
  }

  &__leftArrow {
    position: absolute;
    color: $white;
    bottom: 2rem;
    margin-right: 5rem;
    width: 1.5rem;
    height: 1.5rem;
    cursor: pointer;
  }

  &__rightArrow {
    position: absolute;
    color: $white;
    bottom: 2rem;
    margin-left: 5rem;
    width: 1.5rem;
    height: 1.5rem;
    cursor: pointer;
  }

  &__indicators {
    display: flex;
    position: absolute;
    bottom: 2.3rem;
  }

  &__indicator {
    border-radius: 100%;
    background-color: $text_light_opacity;
    height: 0.5rem;
    width: 0.5rem;
    border: none;
    outline: none;
    margin: 0 0.5rem;
    cursor: pointer;

    &-selected {
      border-radius: 100%;
      height: 0.6rem;
      width: 0.6rem;
      border: none;
      outline: none;
      margin: 0 0.5rem;
      cursor: pointer;
      background-color: $white;
    }
  }

  &__caption {
    display: flex;
    flex-direction: column;
    position: absolute;
    background-color: rgba(233, 193, 141, 0.6);
    border-radius: 0.6rem;
    padding: 1rem;
    font-size: 1.3rem;
    color: $text_light;
    bottom: 10%;
    left: 10%;

    p {
      color: $white;
    }

    &-inactive {
      display: none;
    }
  }
}